.table-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  font-size: 1rem;
  padding: 2px;
  max-width: 100px;
  min-width: 100px;
  border: 1px solid #ccc;
  height: 40px;
  overflow-x: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell::first-letter {
  color: #01ab06;
}

.cell:hover::first-letter {
  visibility: hidden;
  margin-left: -1rem;
}

.cell_from {
  text-align: center;
}